<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules>
            <!-- Disable WebDAV module to allow PUT and DELETE requests -->
            <remove name="WebDAVModule" />
        </modules>
        <handlers>
            <!-- Remove WebDAV handler to allow PUT and DELETE requests -->
            <remove name="WebDAV" />
            
            <!-- Force Extensionless URL Handler to accept all verbs (*), including PUT and DELETE -->
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Laravel" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <!-- Allow long query strings for WMS dynamic styling (SLD_BODY) -->
                <requestLimits maxQueryString="8192" maxUrl="10240" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
